{% extends 'bpath/base.html'%}
{% block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrighterPath</title>
</head>
<body>
    <div class="header-bar">
        <a href="{% url 'respites' %}"><h3>&#8592;Go Back</h3></a>
    </div>
    <div class="add-body">
        <form method="POST">
        
            {% csrf_token %}
            <p>Are you sure you want to delete this task? "{{respite_details}}"</p>
            <input class="button" type="submit" value="Delete">
        </form>
    </div>
   
</body>
</html>

{% endblock content%}